@font-face {
    font-family: 'New TXTT';
    src: url('https://cdn.jsdelivr.net/gh/zhichu/newtxtt-otf/newtxtt-regular.woff2');
    src: url('https://cdn.jsdelivr.net/gh/zhichu/newtxtt-otf/newtxtt-regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/zhichu/newtxtt-otf/newtxtt-regular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/zhichu/newtxtt-otf/newtxtt-regular.otf') format('otf'),
         url('https://cdn.jsdelivr.net/gh/zhichu/newtxtt-otf/newtxtt-regular.svg') format('svg');
    font-size: 9pt;
    font-weight: normal;
    font-style: normal;
}
/* use small-cap alternate glyphs */
.smallcaps {
    font-feature-settings: "smcp" on;
}
/* JACoW variant of newtxtt zero: alt4 */
.url {
    -moz-font-feature-settings:"onum" 1, "ss04" 1;
    -ms-font-feature-settings:"onum" 1, "ss04" 1;
    -o-font-feature-settings:"onum" 1, "ss04" 1;
    -webkit-font-feature-settings:"onum" 1, "ss04" 1;
    font-feature-settings:"onum" 1, "ss04" 1;
}
